.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.city-card {
    width: 300px;
    margin: 50px auto;
    display: block;
}

.button {
    margin-left: 20px !important;
}

.error {
    margin-top: 50px;
    text-align: center
}